%h1 Listing users

%table
  %tr
    %th Email

  - @users.each do |usr|
    %tr
      %td= usr.email
      %td= link_to 'Show'
      %td= link_to 'Edit', edit_user_path(usr)


%br
%br

= link_to 'Home page', root_path
