%p
  This site generates shortened links. You can also use it to save your links (like bookmarks). That's it in a nutshell. It also has some features...
%p
  Features:
  %ul
    %li Save your links (if you create an account).
    %li Get a count of how many times your links have been used.
    %li Find other interesting statistics.

%p
  There are also some planned features:
  %ul
    %li Tags or categories for your links.
    %li Notes to keep with your links.
    %li Much, much more...

%p
  The code for this app is also open source. So if you don't like what you see, feel free to improve on it!
