.hero-unit
  %h3
    Welcome to Blink 
  %br
    
  %p 
    What's a blink you ask? They're shorter versions of longer links... you know, the ones that are only about 700 characters long and look like http://www.something.com/wkerj/doc/hi/version42/part123/iatetheicecream/hello-world/version2437.html. Sooo awkward to share with your friends. 
    
  %p 
    A blink is a little link that works just as well as the longer one, but they're lighter and easier to carry around!
  
  %p
    Features:
    %ul
      %li Save your links (if you create an account).
      %li Get a count of how many times your links have been used.
      %li Find other interesting statistics.
  
  %p
    This site is still in development and the code for this app is also open source. So if you don't like what you see, feel free to improve on it!
