%p
  This site generates shortened links. That's it in a nutshell. It also has some features...
%p
  Features:
  %ul
    %li Save your links (if you create an account).
    %li Get a count of how many times your links have been used.
    %li Find other interesting statistics.
