%p
  This site generates shortened links.
%p
  Features:
  %ul
    %li Save your links (if you create an account).
    %li Get a count of how many times your links have been used.
    %li Find other interesting statistics.
