.title
  %strong Shorten your links in the <i>blink</i> of an eye.<br><br>

.body

  - if user_signed_in?
    %p 
      You are signed in as:
      = current_user

  %p
    To generate a shortened URL, enter the long address below:

= form_for @site do |f|
  .field
    = f.text_field :destination
  .action
    = f.submit 'Shorten it!'
