.title

.hero-unit
  %center
    %h2 Shorten your links in the <i>blink</i> of an eye.<br><br>

    %p
      To generate a shortened URL, enter the long URL below:

      = form_for @site do |f|
        .field
          = f.text_field :destination
        %input{:type => "submit", :value => "Shorten it!", :class => "btn btn-primary"}

  %br
  %br
  %br
  %br
  %br
  %p
    - if user_signed_in?
      %center
        You are signed in as 
        = current_user
    - else
      %center 
        Hey! Why not
        = link_to " register?", new_user_registration_path
        You'll be able to save your links if you do.

