.title
  %strong Sorry, couldn't find a match for that link. <br><br>

.body
  %p
    There might be a technical issue or the link may have been removed. Please try again later.

  %p
  - if request.url
    request url is:
    = request.url
  - else
    No request url
  %br

%p 
  = link_to 'home page', root_path
